<div id="<%= dom_id admin %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= admin.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= admin.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= admin.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= admin.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= admin.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Department:</strong>
    <%= admin.department %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Active:</strong>
    <%= admin.active? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last login:</strong>
    <%= admin.last_login %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Permissions:</strong>
    <%= admin.permissions %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= admin.created_by %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Updated by:</strong>
    <%= admin.updated_by %>
  </div>
</div>
