<div id="<%= dom_id user_management %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= user_management.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= user_management.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user_management.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= user_management.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= user_management.status %>
  </div>
</div>
