<div id="<%= dom_id profile %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= profile.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= profile.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= profile.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= profile.bio %>
  </div>
</div>
