<div class="max-w-2xl mx-auto">
  <h1 class="text-3xl font-bold mb-4"><%= @item.title %></h1>

  <%= image_tag @item.image_url, class: "w-full h-auto mb-6 rounded" %>

  <p class="mb-2"><strong>Description:</strong> <%= @item.description %></p>
  <p class="mb-4 text-lg"><strong>Prix:</strong> <%= number_to_currency(@item.price) %></p>

  <% if current_user&.cart&.includes_item?(@item) %>
    <p class="text-green-600 font-semibold mb-4">Déjà dans le panier.</p>
  <% else %>
    <%= button_to "Ajouter au panier", cart_cart_items_path(item_id: @item.id), method: :post, class: "bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700" %>

  <% end %>

  <p class="mt-6"><%= link_to "retour à l'accueil", items_path, class: "text-blue-500 underline" %></p>
</div>
