<div id="<%= dom_id management %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= management.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= management.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= management.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= management.email %>
  </div>
</div>
